/*公共样式*/
.comWidth{
	width: 980px;
	margin: 0 auto;
}

/*header区域n(*≧▽≦*)n*/
.header{position: relative;}
.headerImg{
	background-image: url(../img/顶部图片.png);
    width: 100%;
    height: 180px;
    background-position: center !important;
    background-repeat:no-repeat ;
}
.headerLogo img{
	position: absolute;
	top: 35%;
	left: 10%;
	width: 220px;
	height: 105px;
}
.headBlur{
	width: 100%;
	height: 42px;
	background-color: transparent;
	position: absolute;
	top: 0px;
	box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
	z-index: 1000;
}
.blur{
	background-image: url(../img/顶部图片.png);
	background-position: center 0 ;
    background-repeat:no-repeat ;
    filter: blur(5px);
    -webkit-filter: blur(5px);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
}
.mask{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: rgba(255,255,255,0.4);
	z-index: 99;
}
    /*blur导航条*/
.blurNav{position:absolute;z-index: 10000;width: inherit;}   
.blurNav li{
	float: left;
	font-size: 13px;
	color: #222;
	line-height: 42px;
	padding: 0 15px;
}
.blurNav li:hover{background-color: rgba(255,255,255,0.3);cursor: pointer;height: 42px;} 
.blurNav .home{
	background: url(../img/icons.png);
	background-position: -910px -74px;
	background-repeat: no-repeat;
	margin-left: -10px;
}
.home span{padding-left: 16px;}
.blurNav .trends{
	position: relative;
}
.blurNav .trendsNum{
	 display: block;
     position: absolute;
     background-color: #F25D8E;
     border-radius: 12px;
     font-size: 12px;
     height: 12px;
     line-height: 12px;
     padding: 1px 4px;
     vertical-align: middle;
     color: white;
     top:16%;
     left: 75%;
}
.headportrait{
	position: relative;
}
.touxiang img{
	display: inline-block;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	background: url(../img/icons.png);
	background-position: -129px -67px;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-color: #fff;
	position: relative;
}	
.submit{
	background-color: #F25D8E;
	box-sizing: content-box;
	color: white !important;
	border-bottom: 5px #F25D8E solid;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.submit:hover{
	background-color: #F982A9 !important;
    border-bottom: 5px #F982A9 solid;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
/*顶部图片内搜索部分*/
.headerSearch{
	margin-top: -58px;
}
.rank{
	float: left;
	width: 68px;
	height: 34px;
	background-color: rgba(255,255,255,0.8);
	transform: translateZ(1px);
	border-radius: 4px;
	line-height: 34px;
	color: #F580aa;
}
.ranklogo{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/icons.png); 
	background-position: -662px -664px;
	background-repeat: no-repeat;
	padding: 0 3px;
	margin-left: 3px;
	vertical-align: middle;
}
.rank:hover{
	background-color: #FFF;
	cursor: pointer;
}
.searchBox{
	transform: translateZ(1px);
	float: right;
	height: 34px;
	line-height: 34px;
	width: 268px;
	background-color: rgba(255,255,255,0.88);
	border-radius: 4px;
	margin-left: 2px;
	padding-left: 10px;
}
.searchBox input{
	width: 220px;
}
.searchBox:hover{background-color: #FFF;cursor: pointer;}
.searchLogo{
	display: inline-block;
	height: 34px;
	width: 30px;
	background: url(../img/icons.png); 
	background-position: -652px -722px;
	background-repeat: no-repeat;
	vertical-align: middle;
}
.searchLogo:hover{
	background-position: -717px -722px;
}
/*顶部搜索部分结束*/
/*顶部下方导航区*/
.headerNav li{
	float: left;
	padding: 10px;
	font-size: 14px;
	padding-top: 15px;
}
.headerNav li:hover{color: #00a1d6;cursor: pointer;}
.homeImg{
	height: 16px;
	padding-left: 5px;
	background: url(../img/icons.png); 
	background-position: -658px -1176px;
	background-repeat: no-repeat;
	vertical-align: middle;
}
.donghua,.fanju,.yinyue,.wudao,.youxi,.keji,.shenghuo,.guichu,
.shishang,.guanggao,.yule,.yingshi{
	 background-color: #FFB3CC;
     border-radius: 4px;
     font-size: 12px;
     height: 12px;
     line-height: 12px;
     padding: 1px 3px;
     vertical-align: middle;
     color: white;
     text-align: center;
}
.guangchang,.zhibo{
	font-size: 16px !important;
	height: 30px !important;
	line-height: 30px !important;
	width: 70px !important;
	padding:15px 0px 15px 15px !important;
}
.guangchang:hover{color: #00A1D6;}
.zhibo:hover{color: #00A1D6;}
.guangchangtu{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/icons.png); 
	background-position: -663px -920px;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding-right: 5px;
}
.zhibotu{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/icons.png); 
	background-position: -664px -534px;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding-right: 5px;
}
.shoujiduan{
	width: 58px;
	height: 34px;
	background: url(../img/手机端灰.png) 0px 14px no-repeat;
	vertical-align: middle;
}
.shoujiduan:hover{
	background: url(../img/手机端蓝.png) 0px 14px no-repeat;
}
/*头部添加框体区*/
.huayou,.youxizhongxin,.zhibo,.zhoubian,.BML{position: relative;}
.huayouNote,.youxizhongxinNote,.zhiboNote,.zhoubianNote,.BMLNote{
	position: absolute;
	height: 15px;
	line-height: 15px;
	border-radius: 3px;
	padding: 3px;
	font-size: 12px;
	background: -webkit-linear-gradient(#FFFFFF,#E4E5F0);
	color: #575757;
	border: 1px solid #7D7D7D;
	display: none;
	z-index: 999;
}
/*游戏中心加框*/
.youxizhongxinInner{
	position: absolute;
	width: 467px;
	height: 258px;
	background-color: #FFF;
	border-radius: 0 0 4px 4px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    display: none;
}
.youxizhongxinInner .left{
	width: 270px;
	height: 100%;
	float: left;
}
.youxizhongxinInner .left ul{
	margin-left: 10px;
}
.youxizhongxinInner .left li{
	float: left;
	height: 104px;
	padding: 10px 10px 0px;
}
.youxizhongxinInner .left li:hover{
	background-color: #E5E9EF
}
.gamenote{
	height: 25px;
	line-height: 25px;
	margin-top: -20px;
	padding-top: 10px;
	text-align: center;
}
.youxizhongxinInner .left ul img{
	height: 65px;
}
.youxizhongxinInner .right{
	float: right;
	width: 190px;
	height: 100%;
	background: url(../img/边线.png) left 10px no-repeat;
}
.yinyangshi img{
	display: block;
	margin: 15px 5px 0 15px;
	border-radius: 4px;
}
.yinyangshi{
	position: relative;
}
.yinyangshiText{
	position: absolute;
	top: 70%;
	left: 10%;
	color: white;
}
.youxizhongxinInner .right img{
        display: block;	
        margin-top: 15px;
}
.luntan{
	display: inline-block;
	height: 32px;
	line-height: 32px;
	padding-top: 12px;
	padding-right: 10px;
	font-size: 12px;
}
.luntan a:visited{color: #00A1D9;}
.youxizhongxinInner .right ul{
	margin-top: 50px;
}
.youxizhongxinInner .right li{
	font-size: 12px;
	width: 190px !important;
	height: 14px;
	line-height: 26px;
	height: 26px;
	box-sizing: border-box;
}
.youxizhongxinInner .right li:hover{
	background-color: #E5E9EF;
	color: #00A1D9;
}
.youxizhongxinInner .right{
	position: relative;
}
.gameImg{
	position: absolute;
	width: 220px;
	height: 220px;
	left: 86%;
	top: 9%;
}
/*游戏加框结束*/
/*直播加框*/
.zhiboInner{
	position: absolute;
	width: 526px;
	height: 262px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	background-color: #FFF;
	border-radius: 0 0 4px 4px;
	display: none;
}
.zhiboInner .left{
	width: 50%;
	float: left;
}
.zhiboInner .right{
	width: 50%;
	float: right;
}
.hotLive{
	font-size: 13px;
	color: #EA759F;
	margin-left:25px;
}
.zhiboInner ul{
	margin: 0 0 7px 7px;
	border-right: 1px solid #eaeaea;
}
.zhibolist li{
	width: 80px;
	height: 90px !important;
	padding: 8px 0;
	text-align: center;
	position: relative;
}
.zhibolist i{
	position: absolute;
	left: 7px;
	top: 7px;
	width: 63px;
	height: 63px;
	border-radius: 50%;
	font-weight: 700;
	background-color: rgba(0,0,0,0.5);
	color: white;
	text-align: center;
	line-height: 63px;
	opacity: 0;
	z-index: 100000;
}
.zhibolist i:hover{-webkit-animation: LIVE .1s linear;-webkit-animation-fill-mode: forwards;}
@keyframes LIVE{
	from{width: 20px;height: 20px;opacity: 0;}
	to{width: 63px;height:63px;opacity: 1;}
}
.zhibolist img{
	display: block;
	width: 63px;
	height: 63px;
	border-radius: 50%;
	margin: 0 auto;
}
.hotAct img{
	display: block;
	padding: 12px;
	margin: -5px auto;
}
.hotAct li{
	height: 100% !important;
	width: 100%;
	padding: 0;
}
.hotAct li:hover{background-color: #EAEAEA;}
/*直播加框结束*/
/*头像加框开始*/
#gerenzhongxin{
	position: absolute;
	top: 42px;
	left: -100px;
	width: 260px;
	height: 300px;
	background-color: #FFF;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	z-index: 1000;
	display: none;
}
.smallWidth{
	width: 225px;
	margin: 0 auto;
}
.yonghuID{
	position: absolute;
	left: 37%;
	top:40px;
}
.yonghuLevel{
	display: inline-block;
	width: 19px;
	height: 12px;
	background: url(../img/Level-icons.png);
	background-position: -80px -121px;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-left: 10px;
}
.coin{
	margin-top: 80px;
}
.coin .left{
	float: left;
}
.coin .right{
	margin-top: 15px;
	float: right;
}
.coinImg{
	background: url(../img/icons.png);
	background-position: -343px -469px;
	background-repeat: no-repeat;
	vertical-align: middle;
	width: 18px;
	height: 18px;
}
.coin span{
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 5px;
}
.mailtu{
	background: url(../img/icons.png);
	background-position: -343px -534px;
	background-repeat: no-repeat;
	vertical-align: middle;
}
.phonetu{
	background: url(../img/icons.png);
	background-position: -343px -599px;
	background-repeat: no-repeat;
	vertical-align: middle;
}
.leveltu{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background: url(../img/Level-icons.png);
	background-position: -152px -116px;
	background-repeat: no-repeat;
	vertical-align: middle;
	border-radius: 50%;
	background-color: #F3CB85;
}
.levelBar{
	display: inline-block;
	height: 10px;
	width: 180px;
	background-color: #F3CB85;
	margin-left: -2px;
}
.exp{
	float: right;
	font-size: 12px;
	margin-top: -25px;
}
.level{
	margin-top: 10px;
	padding-bottom: 15px ;
	border-bottom: 1px solid #E5E9EF;
}
#gerenzhongxin li{
	float: left !important;
	width: 70px;
	height: 18px !important;
	float: left;
	line-height: 18px;
	padding: 5px 20px;
}
#gerenzhongxin ul{
	margin-top: 3px;
}
.gerenzhongxinIcon{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/icons.png);
	background-position: -473px -407px;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding-right: 2px;
}
.tougaoguanliIcon{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/icons.png);
	background-position: -536px -1048px;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding-right: 2px;
}
.wodeqianbaoIcon{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/icons.png);
	background-position: -472px -474px;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding-right: 2px;
}
.zhibozhongxinIcon{
	display: inline-block;
	width: 16px;
	height: 18px;
	background: url(../img/icons.png);
	background-position: -473px -855px;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding-right: 2px;
}
.gerenList li:hover{color: #00A1D6;cursor: pointer;}
.tuichu{
	width: 100%;
	height: 25px;
	margin-top: 19px;
	line-height: 21px;
	text-indent: 17em;
	background-color: #f4f5f7
}
.tuichu:hover{color: #00A1D6; }
/*头像加框结束*/
/*消息下拉框开始*/
.xiaoxiInner{
	width: 110px;
	height: 211px;
	background-color: white;
	position: absolute;
	z-index: 1000;
	left: 665px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	border-radius: 0 0 4px 4px;
	display: none;
}
.xiaoxiInner li{
	width: 110px;
	padding:0;
	text-align: center;
}
.xiaoxiInner li:hover{
	background-color: #E5E9EF;
	color: #00A1D6;
}
/*消息下拉框结束*/
/*动态下拉框开始*/
.dongtaiInner{
	width: 363px;
	height: 411px;
	background-color: #FFF;
	position: absolute;
	z-index: 1000;
	left: -130px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	border-radius: 0 0 4px 4px;
	display: none;
}
.dongtaiBar li{
	float: left;
}
.dongtaiBar li:hover{color: #00A1D6;text-decoration: underline;}
.dongtaiBar ul{
	width: 168px;
	margin: 0 auto;
	padding-top: 20px;
}
/*视频区*/
.dongtaiContent{
	height: 300px;
	text-align: center;
	color: #99a2aa;
	margin: 0 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	display: block;
}
.chakanquanbu{
	width: 90%;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin: 0 auto;
	border-radius: 4px;
	background-color: #E5E9EF;
	margin-top: 10px;
}
.chakanquanbu:hover{
	background-color: #CCD0D7;
}
.shipin{
	margin: 0 auto;
	width: 343px;
	padding: 10px 5px;
}
.shipinPost img{
	display: block;
	width: 42px;
	height: 32px;
	border: 1px solid #CCC;
}
.shipinDes{
	font-size: 12px;
	color: black;
	padding: 0 10px;
	line-height: 12px;
}
.tougao{
	color: #CCCCCC;
	padding-left: 30px;
}
.tougaoleibie{
	font-size: 13px;
	margin-top: 5px;
	color: #00A1D6;
}
/*直播区*/
.zhiboContent{
	height: 300px;
	display: none;
}
.zhengzaizhibo{
	color: #E5979E;
	padding-left: 30px;
}
.nomore{
	width: 200px;
	margin: 0 auto;
	color: #99A2AA;
}
.shipin:hover{
	background-color: #E5E9EF;
}
/*画友区*/
.huayouContent{
	height: 300px;
	display: none;
}
/*动态加框结束*/
/*收藏加框*/
.shoucangInner{
	width: 253px;
	height: 137px;
	background-color: #FFF;
	position: absolute;
	z-index: 1000;
	left: 720px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	border-radius: 0 0 4px 4px;
	display: none;
}
.shoucangInner li{
	height: 20px !important;
	line-height: 20px;
	width: 243px !important;
	padding:  7px 5px;
}
.shoucangInner li:hover{
	background-color: #CCD0D7
}
.chakanquanbushoucangqu{
	width: 90%;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin: 0 auto;
	border-radius: 4px;
	background-color: #E5E9EF;
	margin-top: 5px;
}
.chakanquanbushoucangqu:hover{background-color: #CCD0D7}
/*收藏加框结束*/
/*历史加框开始*/
.lishiInner{
	width: 251px;
	height: 262px;
	background-color: #fff;
	position: absolute;
	z-index: 1000;
	left: 790px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	border-radius: 0 0 4px 4px;
	display: none;
}
.lishiInner li{
	width: 219px;
	height: 20px !important;
	line-height: 20px;
	padding: 5px 16px;
}
.lishiInner li:hover{background-color: #CCD0D7}
.jinri{
	text-indent: 2em;
	color: #99A2AA;
	height: 20px;
	line-height: 20px;
	margin-top: 10px;
}
.zuori{
	text-indent: 2em;
	color: #99A2AA;
	height: 20px;
	line-height: 20px;
}
.chakanquanbulishi{
	width: 90%;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin: 0 auto;
	border-radius: 4px;
	background-color: #E5E9EF;
	margin-top: 2px;
}
.chakanquanbulishi:hover{
	background-color: #CCD0D7;
}
/*历史加框结束*/
/*投稿加框*/
.tougaoInner{
	position: absolute;
	z-index: 1000;
	top: 90%;
	left: 764px;
	width: 216px;
	height: 64px;
	background-color: #FFF;
	display: none;
}
.tougaoInner li{
	float: left;
	width: 52px;
	height: 64px !important;
	padding: 0 10px;color: #F45A8D;
}
.tougaoInner li:hover{background-color: #E5E9EF}
.shipintougao{
	display: block;
	width: 35px;
	height: 30px;
	background: url(../img/icons.png);
	background-position:-454px -905px ;
	background-repeat: no-repeat;
	vertical-align: middle;
}
.tougaoguanli{
	display: block;
	width: 35px;
	height: 30px;
	background: url(../img/icons.png);
	background-position:-457px -970px ;
	background-repeat: no-repeat;
	vertical-align: middle;
}
.chuangzuozhongxin{
	display: block;
	width: 35px;
	height: 30px;
	background: url(../img/icons.png);
	background-position:-456px -1032px ;
	background-repeat: no-repeat;
	vertical-align: middle;
}
/*投稿加框结束*/

/*导航栏*/
#donghua li{float: none;font-size: 12px;width: 89px !important;height:32px !important;line-height: 32px !important;padding: 0 23px;color: black !important;background: url(../img/icons2.png) 10px -1612px no-repeat;}
#fanju li{float: none;font-size: 12px;width: 84px !important;height:32px !important;line-height: 32px !important;padding: 0 23px;color: black !important;background: url(../img/icons2.png) 10px -1612px no-repeat;}
#yinyue li{float: none;font-size: 12px;width: 109px !important;height:32px !important;line-height: 32px !important;padding: 0 23px;color: black !important;background: url(../img/icons2.png) 10px -1612px no-repeat;}
#wudao li{float: none;font-size: 12px;width: 84px !important;height:32px !important;line-height: 32px !important;padding: 0 23px;color: black !important;background: url(../img/icons2.png) 10px -1612px no-repeat;}
#youxi li{float: none;font-size: 12px;width: 84px !important;height:32px !important;line-height: 32px !important;padding: 0 23px;color: black !important;background: url(../img/icons2.png) 10px -1612px no-repeat;}
#keji li{float: none;font-size: 12px;width: 84px !important;height:32px !important;line-height: 32px !important;padding: 0 23px;color: black !important;background: url(../img/icons2.png) 10px -1612px no-repeat;}
#shenghuo li{float: none;font-size: 12px;width: 84px !important;height:32px !important;line-height: 32px !important;padding: 0 23px;color: black !important;background: url(../img/icons2.png) 10px -1612px no-repeat;}
#guichu li{float: none;font-size: 12px;width: 84px !important;height:32px !important;line-height: 32px !important;padding: 0 23px;color: black !important;background: url(../img/icons2.png) 10px -1612px no-repeat;}
#shishang li{float: none;font-size: 12px;width: 84px !important;height:32px !important;line-height: 32px !important;padding: 0 23px;color: black !important;background: url(../img/icons2.png) 10px -1612px no-repeat;}
#yule li{float: none;font-size: 12px;width: 84px !important;height:32px !important;line-height: 32px !important;padding: 0 23px;color: black !important;background: url(../img/icons2.png) 10px -1612px no-repeat;}
#yingshi li{float: none;font-size: 12px;width: 84px !important;height:32px !important;line-height: 32px !important;padding: 0 23px;color: black !important;background: url(../img/icons2.png) 10px -1612px no-repeat;}
.zhibo li{float: none;font-size: 12px;width: 84px !important;height:32px !important;line-height: 32px !important;padding: 0 23px;color: black !important;background: url(../img/icons2.png) 10px -1612px no-repeat;}

#donghua li:hover{background-color: #E5E9EF;color: black;animation: selectLeft 0.2s linear;animation-fill-mode: forwards;-webkit-animation: selectLeft 0.2s linear;-webkit-animation-fill-mode: forwards;}
#fanju li:hover{background-color: #E5E9EF;color: black;animation: selectLeft 0.2s linear;animation-fill-mode: forwards;-webkit-animation: selectLeft 0.2s linear;-webkit-animation-fill-mode: forwards;}
#yinyue li:hover{background-color: #E5E9EF;color: black;animation: selectLeft 0.2s linear;animation-fill-mode: forwards;-webkit-animation: selectLeft 0.2s linear;-webkit-animation-fill-mode: forwards;}
#wudao li:hover{background-color: #E5E9EF;color: black;animation: selectLeft 0.2s linear;animation-fill-mode: forwards;-webkit-animation: selectLeft 0.2s linear;-webkit-animation-fill-mode: forwards;}
#youxi li:hover{background-color: #E5E9EF;color: black;animation: selectLeft 0.2s linear;animation-fill-mode: forwards;-webkit-animation: selectLeft 0.2s linear;-webkit-animation-fill-mode: forwards;}
#keji li:hover{background-color: #E5E9EF;color: black;animation: selectLeft 0.2s linear;animation-fill-mode: forwards;-webkit-animation: selectLeft 0.2s linear;-webkit-animation-fill-mode: forwards;}
#shenghuo li:hover{background-color: #E5E9EF;color: black;animation: selectLeft 0.2s linear;animation-fill-mode: forwards;-webkit-animation: selectLeft 0.2s linear;-webkit-animation-fill-mode: forwards;}
#guichu li:hover{background-color: #E5E9EF;color: black;animation: selectLeft 0.2s linear;animation-fill-mode: forwards;-webkit-animation: selectLeft 0.2s linear;-webkit-animation-fill-mode: forwards;}
#shishang li:hover{background-color: #E5E9EF;color: black;animation: selectLeft 0.2s linear;animation-fill-mode: forwards;-webkit-animation: selectLeft 0.2s linear;-webkit-animation-fill-mode: forwards;}
#yule li:hover{background-color: #E5E9EF;color: black;animation: selectLeft 0.2s linear;animation-fill-mode: forwards;-webkit-animation: selectLeft 0.2s linear;-webkit-animation-fill-mode: forwards;}
#yingshi li:hover{background-color: #E5E9EF;color: black;animation: selectLeft 0.2s linear;animation-fill-mode: forwards;-webkit-animation: selectLeft 0.2s linear;-webkit-animation-fill-mode: forwards;}
.zhibo li:hover{background-color: #E5E9EF;color: black;animation: selectLeft 0.2s linear;animation-fill-mode: forwards;-webkit-animation: selectLeft 0.2s linear;-webkit-animation-fill-mode: forwards;}
#donghua,#fanju,#yinyue,#wudao,#youxi,#keji,#shenghuo,#guichu,#shishang,#yule,#yingshi,.zhibo{
	position: relative;
}
.fanjuInner,.wudaoInner,.youxiInner,.kejiInner,.shenghuoInner,.guichuInner,
.shishangInner,.yuleInner,.yingshiInner,.zhiboNavInner{
	position: absolute;
	width: 130px;
	background-color: #FFF;
	border-radius: 0 0 4px 4px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	display: none;
	z-index: 1000;
}
.donghuaInner{
	position: absolute;
	width: 135px;
	background-color: #FFF;
	border-radius: 0 0 4px 4px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	display: none;
	z-index: 1000;
}
.yinyueInner{
	position: absolute;
	width: 155px;
	background-color: #FFF;
	border-radius: 0 0 4px 4px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	display: none;
	z-index: 1000;
}
.headerNav i{
	display: inline-block;
	width: 6px;
	height:10px;
	margin-left: 3px;
	background: url(../img/icons2.png);
	background-position: -1px -1588px;
	background-repeat: no-repeat;
	vertical-align: middle;
	opacity: 0;
}
#donghua li:hover i{
	opacity: 1;
	margin-left: 3px;
	animation: selectRight 0.2s linear;animation-fill-mode: forwards;
	-webkit-animation: selectRight 0.2s linear;-webkit-animation-fill-mode: forwards;
}
#fanju li:hover i{
	opacity: 1;
	margin-left: 3px;
	animation: selectRight 0.2s linear;animation-fill-mode: forwards;
	-webkit-animation: selectRight 0.2s linear;-webkit-animation-fill-mode: forwards;
}
#yinyue li:hover i{
	opacity: 1;
	margin-left: 3px;
	animation: selectRight 0.2s linear;animation-fill-mode: forwards;
	-webkit-animation: selectRight 0.2s linear;-webkit-animation-fill-mode: forwards;
}
#wudao li:hover i{
	opacity: 1;
	margin-left: 3px;
	animation: selectRight 0.2s linear;animation-fill-mode: forwards;
	-webkit-animation: selectRight 0.2s linear;-webkit-animation-fill-mode: forwards;
}
#youxi li:hover i{
	opacity: 1;
	margin-left: 3px;
	animation: selectRight 0.2s linear;animation-fill-mode: forwards;
	-webkit-animation: selectRight 0.2s linear;-webkit-animation-fill-mode: forwards;
}
#keji li:hover i{
	opacity: 1;
	margin-left: 3px;
	animation: selectRight 0.2s linear;animation-fill-mode: forwards;
	-webkit-animation: selectRight 0.2s linear;-webkit-animation-fill-mode: forwards;
}
#shenghuo li:hover i{
	opacity: 1;
	margin-left: 3px;
	animation: selectRight 0.2s linear;animation-fill-mode: forwards;
	-webkit-animation: selectRight 0.2s linear;-webkit-animation-fill-mode: forwards;
}
#guichu li:hover i{
	opacity: 1;
	margin-left: 3px;
	animation: selectRight 0.2s linear;animation-fill-mode: forwards;
	-webkit-animation: selectRight 0.2s linear;-webkit-animation-fill-mode: forwards;
}
#shishang li:hover i{
	opacity: 1;
	margin-left: 3px;
	animation: selectRight 0.2s linear;animation-fill-mode: forwards;
	-webkit-animation: selectRight 0.2s linear;-webkit-animation-fill-mode: forwards;
}
#yule li:hover i{
	opacity: 1;
	margin-left: 3px;
	animation: selectRight 0.2s linear;animation-fill-mode: forwards;
	-webkit-animation: selectRight 0.2s linear;-webkit-animation-fill-mode: forwards;
}
#yingshi li:hover i{
	opacity: 1;
	margin-left: 3px;
	animation: selectRight 0.2s linear;animation-fill-mode: forwards;
	-webkit-animation: selectRight 0.2s linear;-webkit-animation-fill-mode: forwards;
}
.zhibo li:hover i{
	opacity: 1;
	margin-left: 3px;
	animation: selectRight 0.2s linear;animation-fill-mode: forwards;
	-webkit-animation: selectRight 0.2s linear;-webkit-animation-fill-mode: forwards;
}
@keyframes selectRight{
	from{margin-left: 5px;}
	to{margin-left: 3px;}
}
@keyframes selectLeft{
	from{background-position: 10px -1612px;}
	to{background-position: 15px -1612px;}
}

/*广场加框*/
.guangchangInner{
	width: 388px;
	height: 222px;
	background-color: #FFF;
	position: absolute;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	display: none;
	z-index: 1000;
}
.guangchangInner .left{
	float: left;
	width: 108px;
	padding-top: 15px;
}
.guangchangInner .right{
	float: right;
	width: 280px;
	height: 200px;
	padding: 20px;
	margin-top: 10px;
	box-sizing: border-box;
	border-left:1px solid #E4E5F0 ;
}
.guangchangInner li{
	float: none;
	width: 108px;
	height: 30px;
	padding: 0;
	font-size: 12px;
	line-height: 30px;
	text-indent: 1em;
	color: black;
}
.guangchangInner li:hover{
	color: black;
	background-color: #E5E9EF;
}
.huodongzhongxin{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../img/icons.png);
	background-position: -282px -1179px;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding: 0 2px;
}
.guangchangyouxizhongxin{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../img/icons.png);
	background-position: -282px -1241px;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding: 0 2px;
}
.guangchanghuayou{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../img/icons.png);
	background-position: -282px -1370px;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding: 0 2px;
}
.mangguoTV{
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url(../img/icons.png);
	background-position: -281px -1433px;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding: 0 2px;
}
/*广场加框结束*/
/*手机端加框（二维码）*/
.shoujiduan{
	position: relative;
}
.shoujiduanInner{
	position: absolute;
	left: -180px;
	top: 95%;
	display: none;
	z-index: 1000;
}
.erweima{
	position: absolute;
	left: 82px;
	top: 31px;
}
/*手机端加框结束*/
/*header大图hover标语~\(≧▽≦)/~*/
.headerNote{
	position: absolute;
	left: 330px;
	top: 120px;
	height: 20px;
	padding: 6px 12px;
	background-color: rgba(0,0,0,0.8);
	border-radius: 4px;
	font-size: 13px;
	color: white;
	display: none;
	cursor: pointer;
}
/*header大图标语结束*/

/*header结束♪(^∇^*)*/

/*Banner区*/
.banner{
	height: 220px;
}
.scroll{
	width: 440px;
	position: relative;
	overflow: hidden;
}
.scroll li{
	float: left;
}
.ImgBox{
	height: 220px;
	width: 2200px;
	border-radius: 4px;
	overflow: hidden;
}
.scrollBar{
	position: absolute;
	z-index: 50;
	left: 330px;
	top: 195px;
}
.scrollBar li{
	float: left;
	width: 18px;
	height: 18px;
	padding: 0 1px;
	background: url(../img/icons.png);
	background-position: -855px -791px;
	background-repeat: no-repeat;
	vertical-align: middle;
}
.on{
	background-position: -855px -727px !important;
}
.scrollBar li:hover{
	background-position: -919px -791px;
	cursor: pointer;
}
    /*焦点图下方遮罩*/
.jiaodiantuBlur{
	width: 440px;
	height: 30px;
	border-radius: 0 0 4px 4px;
	position: absolute;
	top: 87%;
	background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8));
}
  /*更多*/
.jiaodiantuMore{
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	color: white;
	border-radius: 4px;
	padding: 5px;
	left: 390px;
	top: 160px;
	display: none;
	cursor: pointer;
}
/*轮播图右侧*/
.threeDayHistory{
	height: 220px;
	width: 520px;
	position: relative;
}
.threeDayHistory li{
	float: left;
	padding: 0 5px 18px 5px;
	cursor: pointer;
	position: relative;
}
.threeDayHistory img{
	display: block;
	width: 161px;
	height: 101px;
	border-radius: 4px;
}
.leftBar{
	text-align: center;
	color: white;
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: 5px;
	top: 40%;
	border-radius: 0 4px 4px 0;
	display: none;
}
.leftBar i{
	display: block;
	float:left;
	height: 35px;
	width: 8px;
	background: url(../img/icons2.png);
	background-position: 2px -1222px;
	background-repeat: no-repeat;
	vertical-align: middle;
}
.leftBar span{
	display: block;
	float: right;
	width: 20px;
}
.leftBar:hover{background-color: rgba(0,0,0,0.9);cursor: pointer;}
.rightBar{
	text-align: center;
	color: white;
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: 460px;
	top: 40%;
	border-radius: 4px 0 0 4px;
	display: none;
}
.rightBar span{
	display: block;
	float: left;
	width: 20px;
}
.rightBar i{
	display:block;
	float: right;
	height: 35px;
	width: 8px;
	background: url(../img/icons2.png);
	background-position: 2px -1267px;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-top: -5px;
}
.rightBar:hover{background-color: rgba(0,0,0,0.9);cursor: pointer;}
.postBlur{
	width: 161px;
	box-sizing: border-box;
	height: 20px;
	border-radius: 0 0 4px 4px;
	position: absolute;
	top: 68%;
	background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6));
	color: white;
	text-indent: 1em;
}
.HistoryScroll{
	width: 520px;
	height: 238px;
	overflow: hidden;
}
.HistoryScrollBox{
	width: 520px;
	height: 714px;
}
.AllBlur{
	position: absolute;
	width: 161px;
	height: 101px;
	border-radius: 4px;
	background-color: rgba(0,0,0,0.6);
	top: 0;
	opacity: 0;
}
.videoName{
	color: white;
	font-size: 14px;
	margin: 8px 0 15px 10px;
}
.upName,.bofangliang{
	color: #99A2AA;
	padding: 10px 0 0 5px;
}
.HistoryScrollBox li:hover .AllBlur{
	animation: show .2s linear;
	-webkit-animation: show .2s linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
.HistoryScrollBox li:hover .postBlur{
	display: none;
}
@keyframes show{
	from{opacity: 0;}
	to{opacity: 1;}
}
/*轮播图右侧结束*/
/*Banner区结束*/

/*推广区开始*/
.tuiguang{
	margin-top: 25px;
	
}
    /*推广头*/
.tuiguangheader{
	height: 36px;
}
.tuiguangLogo{
	width: 100px;
	height: 40px;
	vertical-align: middle;
	background: url(../img/icons.png) -141px -78px no-repeat;
	text-indent: 1.8em;
	font-size: 25px;
	font-weight: 300;
	color: #222222;
}
.tuiguangDes{
	color: #6D757A;
	margin-top: 15px;
	margin-left: 20px;
	font-size: 14px;
}
.tuiguangDes .left{
	padding: 0 20px;
	border-right: 1px solid #CCD0D7;
}
.tuiguangDes .left:hover{color: #00A1D6;cursor: pointer;}
.tuiguang .right{
	padding: 0 20px;
}
.tuiguang .right:hover{color: #00A1D6;cursor: pointer;}
.renshuAndtougao{
	width: 262px;
	height: 35px;
	color: #6D757A;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #E5E9EF;
}
.zaixianrenshu{
	text-indent: 1em;
	height: 12px;
	padding-right: 20px;
	margin-top: 9px;
	border-right: 1px solid #CCD0D7;
}
.zaixianrenshu:hover{color: #00A1D6;cursor: pointer;}
.zuixintougao{
	line-height: 35px;
	text-indent: 2em;
}
.zuixintougao:hover{color: #00A1D6;cursor: pointer;}
      /*推广体*/
.tuiguangBody{
	margin-top: 10px;
}     
.tuiguangBody img{
	width: 161px;
	height: 101px;
	border-radius: 4px;
}    
.tuiguangBody li{
	float: left;
	padding: 0 22px 0 0;
	position: relative;
	cursor: pointer;
} 
.tuiguangBody li:hover .AllBlur{
	opacity: 1;
}
.tuiguangBody .left{
	float: left;
}
.tuiguangBody .right{
	width: 251px;
	height: 151px;
}
.tuiguangBody .right img{
	width: 251px;
	height: 151px;
}
.tuiguangBody .right{
	padding: 0;
	margin-left: -10px;
}
.videoDes{
	width: 161px;
	margin-top: 5px;
}
.videoDes:hover{
	animation: colorChange .2s linear;animation-fill-mode: forwards;
	-webkit-animation: colorChange .2s linear;-webkit-animation-fill-mode: forwards;
}
.videoTime{
	position: absolute;
	color: white;
	left: 80%;
	top: 80%;
}
@keyframes colorChange{
	from{color: #000;}
	to{color: #00A1D6;}
}
   /*推广区底部*/
.tuiguangFooter{margin-top: 40px;}
.tuiguangFooter:hover{
	cursor: pointer;
}
.tuiguangFooter img{
	height: 82px;
	width: 980px;
	border-radius: 4px;
}
/*推广区结束*/
/*直播区开始*/
.zhiboLogo{
	width: 145px;
	background: url(../img/icons.png) -135px -655px no-repeat;
	vertical-align: middle;
	margin-left: -5px;
}
.zhiboDes{
	color: #99A2AA;
	font-size: 12px;
	border
}
.zhiboDes .left{
	border: none;
}
.zhiboDes .left:hover{
	color: #99A2AA;
}
.zhiboDes span{color: #00A1D6;}
.zhiboDes .right{
	color: black;
	height: 25px;
	line-height: 25px;
	padding: 0;
	margin-left: 205px;
	margin-top: -15px;
	color: #222;
}
.zhiboDes .right:hover{
	color: black !important;
}
.zhiboDes .right span{
	display: inline-block;
	width: 12px;
	height: 18px;
	line-height: 25px;
}
.xindongtai{
	border: 1px solid #CCD0D7;
	border-radius: 4px;
	padding: 0 9px 0 10px;
}
.xindongtai:hover{background-color: #CCD0D7;}
.xindongtaiIcon{
	background: url(../img/icons.png) -475px -88px no-repeat;
	vertical-align: middle;
	margin-right: 5px;
	transform-origin: 6px 7px;
}
@keyframes rotate{
	from{transform:  rotateZ(0deg);
      -webkit-transform: rotateZ(0deg);}
	to{transform:  rotateZ(360deg);
      -webkit-transform: rotateZ(360deg);}
}
@keyframes Drotate{
	from{transform:  rotateZ(360deg);
      -webkit-transform: rotateZ(360deg);}
	to{transform:  rotateZ(0deg);
      -webkit-transform: rotateZ(0deg);}
}
.gengduodongtai{
	margin-left: 10px;
	border: 1px solid #CCD0D7;
	border-radius: 4px;
	padding: 0 5px 0 8px;
}
.gengduodongtai:hover{background-color: #CCD0D7;}
.gengduodongtaiIcon{
	background: url(../img/icons.png) -475px -216px no-repeat;
	vertical-align: middle;
	margin-left: 5px;
}
.zhiboBody{
	width: 980px;
}
.zhiboBody li{
	width: 161px;
	height: 150px;
	padding-bottom: 10px;
}
.zhiboBody .videoTime{
	font-size: 30px;
	font-weight: bold;
	left: 30%;
	top: 30%;
}
.zhibotouxiang{
	display: inline-block;
	border-radius: 50%;
	margin-left: 5px;
}
.zhibotouxiang img{
	display: inline-block;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	vertical-align: top;
}
.zhiboBody .videoDes{
	margin-top: -25px;
	position: relative;
	z-index: 50;
}
.zhiboBody .videoDes span{
	display: inline-block;
	width: 100px;
	height: 16px;
	padding-left: 5px;
	margin-top: 30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.zhiboBar{
	width: 262px;
	height: 25px;
	line-height: 25px;
	color: black;
}
.zhibopaihang,.guanzhudezhubo,.weinituijian{margin-left: 10px;}
.guanzhudezhubo:hover{color: #00A1D6;text-decoration: underline;cursor: pointer;}
.zhibopaihang:hover{color: #00A1D6;text-decoration: underline;cursor: pointer;}
.weinituijian:hover{color: #00A1D6;text-decoration: underline;cursor: pointer;}
.zhibopaihang{color: #00A1D6;text-decoration: underline;}
.zhiboBody .left{
	width: 732px;
}
.zhiboBody .right{
	width: 250px;
	height: 348px;
	margin-top: -10px;
	overflow: hidden;
	
}
.zhiboBody ul{
	height: 348px;
}
.container{
	height: 1044px;
}
.nanqian{width: 250px !important;height: 260px !important;}
   /*排名区*/
.paimingtouxiang{margin-left: 5px;}
.paimingtouxiang img{
	width: 43px !important;
	height: 43px !important;
	border-radius: 50%;
}
.zhiboBody .right li{
	width: 252px;
	height: 48px;
} 
.zhiboBody .right li:hover{color: black !important;}
.zhuboDes{
	position: relative;
}
.rank1{   
	display: inline-block;
	width:20px;
	height: 20px;
	line-height: 20px;
	background-color: #F25D8E;
	color: white !important;
	font-style: normal;
	font-weight: bold;
	text-indent: 0.5em;
	border-radius: 4px;
}
.rank2{background-color: #F25D8E}
.rank3{background-color: #F25D8E}
.rank4{background-color: #B8c0cc}
.rank5{background-color: #B8C0CC}
.rank6{background-color: #B8C0CC}
.zhuboDes .left{
	width: 100px !important;
	margin-left: 10px;
}
.zhubomingzi{
	color: black;
}
.zhubomingzi:hover{color:#00A1D6;}
.zhuboqianming{
	width: 150px;
	white-space: nowrap;
	color: #99A2AA;
	margin-top: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.zhuboDes .right{
	width: 50px;
	height: 20px;
	color: #99A2AA !important;
	line-height: 20px;
	border: none;
	position: absolute;
	left: 140px;
	top: 10px;
}
.guanzhongshuIcon{
	line-height: 12px;
	padding-right: 5px;
	display: inline-block;
	width: 12px;
	height: 12px;
	vertical-align:  calc(-2px);
	background: url(../img/icons.png) -282px -282px no-repeat;
	
}
     /*视频下方UP主名字和关注人的数量*/
.upzhuIcon{
	padding-right: 5px;
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../img/icons.png) -282px -154px no-repeat;
	vertical-align: calc(-2px);
}
.shipinzhurenxinxi{
	color: #99aac4;
	margin-top: 10px;
}
.upzhumingzi{
	width: 80px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*直播区结束*/

/*动画区*/
.donghuaLogo{
	background: url(../img/icons.png) -137px -911px;
}
.donghuaDes i{font-style: normal;}
.youxindongtai{
	display: inline-block;
	color: #00A1D6;
	font-size: 13px;
	text-decoration: underline;
	margin-left: -50px;
}
.zuixintougao2{
	display: inline-block;
	height: 20px;
	width: 80px;
	color: black;
	font-size: 13px;
	margin-left: 20px;
}
.donghuaDes .left{
	width: 200px;
	height: 20px;
	line-height: 20px;
	margin-top: -10px;
}
.donghuaDes .right{
	margin-left: 130px;
	width: 180px;
}
.paihang{
	font-size: 18px;
	padding-left: 10px;
	color: black !important; 
	text-decoration: none !important;
	cursor:  auto !important;
}
.quanbu{
	margin-left: 20px;
	color: #00A1D6;
	text-decoration: underline;
	cursor: pointer;
}
.yuanchuang{
	margin-left: 10px;
	cursor: pointer;
}
.dateBar{
	margin-left: 75px;
}
.dateBar ul{
	padding: 0 20px 0 10px;
	height: 28px;
	overflow: hidden;
	background-color: #FFF;
	cursor: pointer;
	border: 1px solid #CCD0D7;
	border-radius: 4px;
}
.dateBar span{
	display: inline-block;
	position: absolute;
	left: 35px;
	top: 10px;
	width: 13px;
	height: 6px;
	background: url(../img/icons.png) -475px -157px no-repeat;
	vertical-align: calc(-2px);
}
.timebar{
	position: relative;
	z-index: 50;
}
.dateBar:hover .timebar{height: 56px;}
.donghuaBody .videoTime{
	position: absolute;
	font-size: 12px;
	color: white;
	left: 77%;
	top: 80%;
}
.donghuaBody .videoDes span{
	width: 161px;
	height: 16px;
	white-space: initial;
	overflow: hidden;
}
.donghuaBody li{height: 150px;overflow: hidden;}
.donghuaBody .videoDes span:hover{
	animation: slide .2s linear;
	animation-fill-mode: forwards;
}
@keyframes slide{
	from{height: 16px;}
	to{height: 40px;}
}
.donghuaBody .left{
	height: 348px;
	overflow: hidden;
}
.container2{
	height: 696px;
}
.rank7{
	display: inline-block;
	width:20px;
	height: 20px;
	line-height: 20px;
	background-color: #B8C0CC;
	color: white !important;
	font-style: normal;
	font-weight: bold;
	text-indent: 0.5em;
	border-radius: 4px;
}
.container3 li{
	height: 35px !important;
	line-height: 20px;
}
.container3 .zhuboDes{
	width: 200px;
}
.container3 .zhubomingzi{
	margin-left: 25px;
}
#donghuachakangengduo{
	width: 225px;
	height: 18px !important;
	line-height: 28px !important;
	text-align: center;
	border-radius: 8px;
	color: #222222;
	background-color: #E5E9EF;
	margin-top: -15px;
}
#donghuachakangengduo i{
	display: inline-block;
	width: 6px;
	height: 11px;
	margin-left: 2px;
	vertical-align: calc(-1px);
	background:url(../img/icons.png) -478px -218px;
}
#donghuachakangengduo:hover{background-color: #CCD0D7}
.container3 img{
	display: inline-block;
	width: 81px !important;
	height: 51px !important;
	padding: 0;
	margin-left: 10px;
}
.first{
	margin-left: 15px;
}
.rankTop{
	margin-bottom: 10px;
	color: black;
}
.line1:hover{color: #00A1D6;}
.line2{
	color: #99A2AA;
}
/*动画区结束*/
/*公共火焰标语*/
#huoyanbiaoti{
	display: inline-block;
	width: 200px;
	color: #6D757A;
	float: left;
	margin-top: 3px;
	margin-left: -250px;
	padding-left: 40px;
	box-sizing: border-box;
	background: url(../img/icons.png) -644px -1110px no-repeat;
}
#huoyanbiaoti:hover{color: #00A1D6;}
/*舞蹈区*/
.wudaoLogo{
	background: url(../img/icons.png) -135px -461px;
}
/*音乐区*/
.yinyueLogo{
	background: url(../img/icons.png) -135px -266px;
}
/*科技区*/
.kejiLogo{
	background: url(../img/icons.png) -135px -525px;
}
/*番剧区*/
.fanjuLogo{
	background: url(../img/icons.png) -135px -142px;
}
/*游戏区*/
.youxiLogo{
	background: url(../img/icons.png) -135px -204px;
}
/*生活区*/
.shenghuoLogo{
	background: url(../img/icons.png) -135px -971px;
}
/*鬼畜区*/
.guichuLogo{
	background: url(../img/icons.png) -135px -332px; 
}
/*时尚区*/
.shishangLogo{
	background: url(../img/icons.png) -135px -718px;
}
/*广告区*/
.guanggaoLogo{
	background: url(../img/icons.png) -135px -1231px;
}
/*娱乐区*/
.yuleLogo{
	background: url(../img/icons.png) -135px -1031px;
}
/*电影区*/
.dianyingLogo{
	background: url(../img/icons.png) -135px -396px;
}
/*电视剧区*/
.dianshijuLogo{
	background: url(../img/icons.png) -135px -847px;
}
/*长条形广告*/
.ad img{
	width: 980px;
	height: 90px;
	margin: 0 auto;
	border-radius: 4px;
}
/*番剧每日索引区~！*/
.fanjuBlock{
	margin-top: 30px;
	margin-bottom: 40px;
}
.fanjuBlock .right{
	margin-left: 3px;
}
.weekBar li{
	float: left;
	position: relative;
	z-index: 10;
	width: auto;
	height: 35px;
	line-height: 35px;
	font-size: 18px;
	padding: 0 20px;
	cursor: pointer;
}
.weekBar ul{
	width: 560px;
	border-bottom: #E5E9EF 1px solid;
}
.pick{
	width: 121px;
	background-color:#00A1D6; 
	border-radius: 4px;
	color:#FFFFFF;
	font-weight: bold;
}
.jianjian{
	display: block;
	position: absolute;
	z-index: 1;
	width: 34px;
	height: 10px;
	background: url(../img/icons.png) -845px -487px no-repeat;
	left: 38%;
	top: 100%;
}
.zuixinIcon{
	display: inline-block;
	margin: -20px 10px 0 -10px;
	line-height: 25px;
	width: 51px;
	height: 60px;
	background: url(../img/bangumi-weekday.png) -934px -40px no-repeat;
	vertical-align: middle;
}
.zhouyiIcon{
	display: inline-block;
	margin: -20px 10px 0 -10px;
	line-height: 25px;
	width: 51px;
	height: 60px;
	background: url(../img/bangumi-weekday.png) -37px -40px no-repeat;
	vertical-align: middle;
}
.zhouerIcon{
	display: inline-block;
	margin: -20px 10px 0 -10px;
	line-height: 25px;
	width: 51px;
	height: 60px;
	background: url(../img/bangumi-weekday.png) -165px -40px no-repeat;
	vertical-align: middle;
}
.zhousanIcon{
	display: inline-block;
	margin: -20px 10px 0 -10px;
	line-height: 25px;
	width: 51px;
	height: 60px;
	background: url(../img/bangumi-weekday.png) -293px -40px no-repeat;
	vertical-align: middle;
}
.zhousiIcon{
	display: inline-block;
	margin: -20px 10px 0 -10px;
	line-height: 25px;
	width: 51px;
	height: 60px;
	background: url(../img/bangumi-weekday.png) -421px -40px no-repeat;
	vertical-align: middle;
}
.zhouwuIcon{
	display: inline-block;
	margin: -20px 10px 0 -10px;
	line-height: 25px;
	width: 51px;
	height: 60px;
	background: url(../img/bangumi-weekday.png) -547px -40px no-repeat;
	vertical-align: middle;
}
.zhouliuIcon{
	display: inline-block;
	margin: -20px 10px 0 -10px;
	line-height: 25px;
	width: 51px;
	height: 60px;
	background: url(../img/bangumi-weekday.png) -676px -40px no-repeat;
	vertical-align: middle;
}
.zhouriIcon{
	display: inline-block;
	margin: -20px 10px 0 -10px;
	line-height: 25px;
	width: 51px;
	height: 60px;
	background: url(../img/bangumi-weekday.png) -805px -40px no-repeat;
	vertical-align: middle;
}
.weekBar{
	position: relative;
}
.xinfanfangsongliebiao{
	position: absolute;
	left: 597px;
	top: 0;
	color: #F25D8E;
	padding:  8px;
	border: 1px solid #F25D8E;
	border-radius: 4px;
}
.arrow{
	display: inline-block;
	width: 7px;
	height: 13px;
	vertical-align: calc(-2px);
	margin-left: 10px;
	background: url(../img/icons.png) -477px -280px no-repeat;
}
.xinfanfangsongliebiao:hover{color: #FFF;background-color: #F25D8E;cursor: pointer;}
.xinfanfangsongliebiao:hover .arrow{background-position: -541px -218px;}
    /*番剧列表区开始*/
.videoBlock{
	width: 705px;
	height: 320px;
	margin-top: 40px;
	overflow: auto;
}
.videoBlock img{
	display: block;
	border-radius: 4px;
}
.videoBlock img:hover{
	-webkit-filter: blur(1px);
	filter: blur(1px);
	cursor: pointer;
}
.videoBlock li{
	height: 73px;
	width: 190px;
	float: left;
	padding: 15px;
	position: relative;
}
.fanjuDes{
	text-align: center;
	width: 90px;
	padding: 0 5px;
}
.gengxinzhi{
	position: absolute;
	top: 70px;
	color: #AAA;
}
.new{
	background-color: #FF8EB3;
	color: white;
	padding: 1px 5px;
	border-radius: 10px;
	margin-left: 5px;
}
.old{
	background-color: #BBC0CC;
	color: white;
	padding: 1px 5px;
	border-radius: 10px;
	margin-left: 5px;
}
.monday,.tuesday,.wednsday,.thursday,.friday,.saturday,.sunday{
	display: none;
}
.slideBlock{
	width: 260px;
    border-radius: 4px;
	position: relative;
	overflow: hidden;
}
.slideBox{
	width: 520px;
}
.slideBlock img{
	float: left;
}
.imgBlur{
	position: absolute;
	width: 100%;
	height: 23%;
	top: 77%;
	left: 0;
	background-color: rgba(0,0,0,0.5);
}
.imgBlur p{
	color: white;
	padding: 8px 20px;
}
.slideBlur{
	position: absolute;
	width: 100%;
	height: 12%;
	top: 88%;
	left: 0;
	background-color: rgba(0,0,0,0.5);
}
.slideBar{
	position: absolute;
	width: 30%;
	height: 8px;
	top: 93%;
	left: 35%;
	cursor: pointer;
}
.slideLeft,.slideRight{
	width: 20px;
	height: 8px;
	border-radius: 5px;
	background-color: #FFF;
}
.slideTo{
	width: 50px;
	background-color: #F25D8E;
}
.laofanju{
	margin-top: 10px;
}
.laofanju li{
	float: left;
	width: 56px;
	padding-right: 12px;
	position: relative;
	line-height: 20px;
}
.laofanju li:hover{color: #00A1D6;cursor: pointer;}
.laofanju img{
	width: 56px;
	height: 56px;
	border-radius: 4px;
}
.smblur{
	position: absolute;
	width: 56px;
	height: 20px;
	top: 36px;
	border-radius: 0 0 4px 4px;
	background-color: rgba(0,0,0,0.5);
}
.laofanju p{
	position: absolute;
	display: block;
	padding-top: 20px;
	top: -18px;
	line-height: 20px;
	padding-left: 8px;
	color: #FFF;
}
/*热门节目区*/
.remenjiemuBlock{
	padding-bottom: 30px;
}
.remenjiemuBlock .tuiguangLogo{
	background: none;
	text-indent: 0;
}
.remenjiemuBlock .renshuAndtougao{
	line-height: 30px;
	background-color: #FFF;
	font-size: 20px;
	color: black;
}
.rank8{
	display: inline-block;
	width:20px;
	height: 20px;
	line-height: 20px;
	background-color: #B8C0CC;
	color: white !important;
	font-style: normal;
	font-weight: bold;
	text-indent: 0.5em;
	border-radius: 4px;
}
.remenzongyi li{
	width: 120px;
	padding: 10px 0;
}
.remenzongyi li:hover{
	color: #00A1D6;
} 
.remenzongyi span{
	margin-left: 5px;
}
/*特别推荐区*/
.tebietuijianLogo{
	background: url(../img/icons.png) -135px -785px no-repeat !important;
	text-indent: 1.8em !important;
	width: 148px;
}
/*Footer开始*/
.footer{
	height: 305px;
	background-color: #f6f9fa;
	margin-top: 30px;
	color: #000;
}

.footerBlock{
	width: 300px;
}
.one ul{
	border-right: 1px solid #E5E9EF;
	width: 310px;
}
.second{
	margin-left: 40px;
	width: 300px;
}
.second ul{
	border-right: 1px solid #E5E9EF;
	width: 310px;
}
.second li:hover{color: #00A1D6;cursor: pointer;}
.none{color: #F6F9FA;}
.one li:hover{color: #00A1D6;cursor: pointer;}
.footer h4{
	color: #99aac5;
	font-size: 14px;
	padding: 40px 0 7px 0;
	font-weight: normal;
}
.footer li{
	float: left;
	width: 100px;
	font-size: 14px;
	padding: 10px 0 0 0;
	
}
.third{
	margin-left: 30px;
}
.third li{
   width: 70px;
   padding: 0 5px;
   margin-top: 50px;
   text-indent: -5px;
   position: relative;
}
.third li:nth-child(1){text-indent: -5px;}
.third li:hover{color: #00A1D6;}
.weixin{
	display: block;
	width: 56px;
	height: 56px;
	background: url(../img/icons.png) -1026px -68px no-repeat;
}
.weibo{
	display: block;
	width: 56px;
	height: 56px;
	background: url(../img/icons.png) -1026px -324px no-repeat;
}
.shouji{
	display: block;
	width: 56px;
	height: 56px;
	background: url(../img/icons.png) -1026px -196px no-repeat;
}
.shoujitext{
	margin-top: 10px;
}
.xinlangtext{
	margin-top: 10px;
	text-indent: 1px;
}
.weixintext{
	margin-top: 10px;
	text-indent: 1px;
}
.shouji:hover{background-position: -1092px -196px;cursor: pointer;}
.weibo:hover{background-position: -1092px -324px;cursor: pointer;}
.weixin:hover{background-position: -1092px -68px;cursor: pointer;}

.footererweima{
	position: absolute;
	width: 130px;
	height: 130px;
	background-color: #FFF;
	border: 1px solid #E5E9EF;
	top: -168%;
	left: -42%;
	display: none;
}
.erweimatupian{
	background: url(../img/底部二维码图片.png);
	position: absolute;
	width: 100px;
	height: 100px;
    top: -115px;
    left: -43px;
}
.footererweima .footerarrow{
	position: absolute;
	background: url(../img/wx-arrow.png);
	display: block;
	width: 16px;
	height: 14px;
	top: 100%;
	left: 45%;
	
}
.footerBottom{
	margin-top: 25px;
}
.footerBottom li:nth-child(1){
	height: 80px;
	width: 100px;
	background: url(../img/footpic.png) 0 10px no-repeat;
}
.footerBottom li:nth-child(2){
	font-size: 12px;
	color: #B0A2BB;
	width: 268px;
	padding-left: 10px;
}
.footerBottom li:nth-child(3){
	font-size: 12px;
	color: #B0A2BB;
	width: 268px;
	padding-left: 15px;
}
.footerBottom li:nth-child(4){
	font-size: 12px;
	color: #B0A2BB;
	width: 268px;
	padding-left: 15px;
}
.footerBottom ul div{
	padding: 3px 0;
}
.lastImg{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../img/icons.png) -1367px -89px no-repeat;
	vertical-align: calc(-2px);
}
/*FOOTER结束*/
/*侧边导航条*/
.aside{
   position: fixed;
   top: 250px;
   z-index: 233;
}
.aside ul{
   background-color: #F6F9FA;
   border: 1px solid #E5E9EF;
   border-radius: 4px;
   width: 49px;
}
.aside li{
	padding: 8px 11px;
	cursor: pointer;
}
.aside li:hover{background-color: #00A1D6;color: white;}
.picked{
	background-color: #00A1D6;color: white;
}
.paixuS i{
	display: block;
	width: 25px;
	height: 25px;
	background: url(../img/icons.png) -659px -151px no-repeat;
}
.paixuS:hover i{
	background-position: -723px -151px;
}
.verticalSpace{
	width: 30px;
	height: 15px;
	margin-left: 10px;
	background-color: #FFF;
	border: 1px solid #DDD;
	border-bottom: none;
	border-top: none;
	border-radius: 4px;
}
.fanhui{
	width: 49px;
	height: 45px;
	background-color: #F6F9FA;
	border: 1px solid #E5E9EF;
	border-radius: 4px;
}
.fanhuiIcon{
	display: block;
	width: 40px;
	height: 30px;
	background: url(../img/icons.png) -648px -75px no-repeat;
}
.fanhui:hover{
	background-color: #00A1D6;
	cursor: pointer;
}
.fanhui:hover .fanhuiIcon{
	background-position: -713px -75px;
}
.lastBox{
	position: relative;
	left: -16px;
	width: 80px;
	height: 80px;
	background: url(../img/tv_animate.png) 0px 0px no-repeat;
	cursor: pointer
}
.floatBox{
	position: absolute;
	width: 106px;
	height: 44px;
	left: -113%;
	top: -20%;
	display: none;
}
@keyframes arrow{
	14.28;%{background-position: -1200px 0;}
	28.56%{background-position: -1120px 0;}
	42.84%{background-position: -1040px 0;}
	57.12%{background-position: -960px 0;}
	71.4%{background-position: -880px 0;}
	85.68%{background-position: -800px 0;}
	100%{background-position: -720px 0;}
}
.animate{
	animation : arrow 0.4375s step-start infinite;
	-webkit-animation: arrow 0.4375s step-start infinite;
}
/*侧边导航条结束*/
/*终于都结束了。。花了我四天时间。。过程真的很艰辛。
 * 其实还有很多地方偷了懒。。但是算是做出来了
 */


 

